---
layout: post-index
title: All Projects
description: "An archive of projects."
comments: false
---

{% for project in site.project %}
    {% capture this_year %}{{ project.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ project.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <article>
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}

        <li class="entry-title"><a href="{{ site.url }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></li>

    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_year != next_year %}
          </ul>
        </article>
        <article>
          <h2 id="{{ next_year }}-ref" class="year-heading">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}
{% endfor %}
